# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Debug files
npm-debug.*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db
*.orig.*

# Debug tools
.vscode/
.idea/
*.swp

# Build files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Test files
tests/

# Logs
logs/
*.log
